/* Estilo do Topo */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nunito&family=Raleway:ital,wght@1,100&display=swap");
/* font-family: 'Raleway', sans-serif; */

.site {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

body {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    background: url(../img/interlaced.png);
}

.topoMenu {
    background: url(../img/banner.png);
}

.topoMenu div h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    padding: 400px;
}

.menuLogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00000080;
    padding: 0 350px;
}

.menuLogo ul {
    margin: 15px;
    display: flex;
}

.botao {
    opacity: 100%;
}

.botao li {
    margin: 50px;
}

.botao li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.social li {
    margin: 10px;
}
/* FIM TOPO */

/* RECENTE */
.recente {
    background: #262323;
    padding: 60px 0 0 0;
}

.recente h2 {
    color: #f2f2f2;
    font-size: 30px;
    padding: 0 100px;
}

.imgRecente {
    background: #403a3a;
    padding: 65px 0 65px 0;
}

.imgRecente div div {
    margin: 0 3px;
}

.imgRecente .slick-dots {
    bottom: 10px;
}

.imgRecente .slick-dots li button::before {
    font-size: 10px;
    color: #f2f2f2;
    opacity: 200px;
}

.imgRecente .slick-dots li.slick-active button::before {
    opacity: 1;
    color: #f2f2f2;
}

.imgRecente .slick-prev:before,
.imgRecente .slick-next:before{
    font-size: 10px;
    opacity: 0;
    color: #f2f2f2;
}

.imgRecente .slick-prev {
    left: 10px;
    z-index: 1;
}

.imgRecente .slick-next {
    right: 30px;
}

.vermais {
    background: #262323;
    padding: 30px 0 30px 0;
}

.vermais div li :hover {
    background: #d9cbba;
}

.vermais div li a:hover{
    color: black;
}

.vermais div li a {
    font-size: 30px;
    text-align: center;
    color: #d9cbba;
    border:solid #d9cbba;
    text-decoration: none;
    margin: 0 45%;
    padding: 0 23px;
}
/* FIM RECENTE*/

/* DEPOIMENTO */
.depoimento {
    background: #403a3a;
}

.depoimento h2 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
    color: #f2f2f2;
    padding: 10px 0 0 0;
}

.imgDepoimento  {
    background: #403a3a;
    text-align: center;
    padding: 30px 0 30px 0;
}

.imgDepoimento img {
    margin: 0 auto;
}

.imgDepoimento h2 {
    background: #403a3a;
    font-size: 15px;
    padding: 25px 0;
    color: #f2f2f2;
}

.imgDepoimento .slick-prev:before,
.imgDepoimento .slick-next:before{
    font-size: 25px;
    opacity: 30;
    color: #f2f2f2;
}

.imgDepoimento .slick-prev {
    left: 20px;
    z-index: 1;
}

.imgDepoimento .slick-next {
    right: 30px;
}
/* FIM DEPOIMENTO */

/* DESTAQUE */
.destaque {
    background: #262323;
    padding: 60px 0 0 0;
}

.destaque h2 {
    color: #f2f2f2;
    font-size: 30px;
    padding: 0 100px;
}

.imgDestaque  {
    background: #403a3a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 2.5px 60px 2.5px;
}
/* FIM DESTAQUE */

/* RODAPÉ */
.txtCadas {
    background: #262323;
    color: #f2f2f2;
    text-align: center;
    font-size: 30px;
    padding: 15px 0;
}


.rodape {
    background:#262323;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 0 10%;
}

.sobre p {
    padding: 0 50px;
}

.informacoes {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 33%;
}

.informacoes div h2 {
    padding: 0 0 0 15px;
    text-align: left;
}


.caixa input{
    width: 33%;
    align-items: center;
    padding: 7px 150px;
}

.contato {
    font-size: 20px;
    text-align: right;
    width: 33%;
}

.softweb{
    background: #f2f2f2;
    text-align: center;
}

.softweb h2{
    color: #000000;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
}
/* FIM RODAPÉ */

/* MOBILE ATÉ 600 PX */
@media (max-width:600px) {

/* TOPO */

.social {
    margin-right: 30px;
}

.menuLogo {
    width: 100%;
}

.topoMenu {
    flex-direction: column;
}

.topoMenu nav ul {
    justify-content: space-around;
}

